# dependencies
node_modules
.pnp
.pnp.js

# builds
dist
build
.next
out
*.tsbuildinfo

# misc
.DS_Store
*.log
*.lock
pnpm-lock.yaml
package-lock.json
yarn.lock

# coverage
coverage
.nyc_output

# env
.env
.env.local
.env.*.local
